### geigerlog.cfg
#
# The configuration file with default settings for the GeigerLog program
#
# All lines beginning with '#' are comments and will be ignored
#
# The structure is:
#    [Section]
#    # comment
#    option = value
#
# NOTE: non-acceptable values will be silently ignored,
#       but a debug message will be printed to the terminal
#
#       If there are multiple valid entries, the last one will be used


[Serial Port]
# NOTE: settings in this section will be overwritten by command line options
#
# portnames like @Linux   : /dev/geiger, /dev/ttyUSB0
#                @Windows : COM3, COM12
# see Help->Quickstart for instructions. For more details see the online text:
# 'HOWTO - Read-Write Permissions Serial Port on Linux.TXT'
# at: https://sourceforge.net/projects/geigerlog/files/
# old: default = /dev/geiger
# new: default = /dev/ttyUSB0
#port        = /dev/geiger
port        = /dev/ttyUSB0
#port        = /dev/ttyUSB1

# baudrate select from 1200, 2400, 4800, 9600, 14400, 19200, 28800, 38400, 57600, 115200
# the device must have been set to the selected baudrate!
# see Help->Quickstart for instructions
# default = 57600
baudrate    = 57600
#baudrate    = 115200

# timeout in seconds; any non-negative number is acceptable
# for better speed try small number first
# recommended range is 1(fast) ... 10(slow)
# default = 5
timeout     = 3


[Device]
# select active device from these choices:
# 0 : GMC-300E Plus v4.20
# 1 : GMC-320
# 2 : GMC-500
# 3 : GMC-300 v3.20
# default = 0
active_device   = 0

# The internal memory of the device is 64kB in the older devices, and
# 1 MB in the newer ones. However, it is not clear which Model numbers this
# applies to. Therefore it can be left for configuration here.
# The options are: '64kB' and '1MB' and 'auto'
# 64kB = 2**16 =    65 536 Bytes; fixed setting, not dependent on device
# 1MB  = 2**20 = 1 048 576 Bytes; fixed setting, not dependent on device
# auto = either 64kB or 1MB, whatever is set for the selected device
# default = auto
#memory      = 64kB
#memory      = 1MB
memory      = auto

# Device has 3 calibration points but they all define only a single-point
# linear calibration of CPM * 0.0065 = µSv/h
# if set to auto, 0.0065 will be chosen for all devices
# if number given then this number will be set fixed for all devices
# default = auto
calibration = auto
#calibration = 0.005


[Logging]
# logcycle in seconds; must be 0.1 or greater
# Note: when CPS is chosen, the logcycle should be 1 sec
#       when CPM is chosen, the logcycle should be 60 sec
# shorter logcycle allow to more quickly see the count rate and change,
# but do NOT provide more information for long runs
# default = 3
logcycle    = 3


[Graphic]
# Moving Average in sec; at least 1 sec. 1 min = 60 sec is adequate for CPM
# default = 60
mav_initial = 60


[Window]
# The window is positioned at the top right corner; Dimensions in pixel.
# GeigerLog will run on a screen size as small as 1024x768, but it is cumbersome
# to use and not recommended. Minimum screen size should be 1366x768.
# Depending on Window manager and custom configuration, the default may not
# fit. Change to fit for your screen and settings.
# Default assumes 1366x768 with 2 panels of height 24 and std window bar
# default width  = 1366
#         height = 720
width       = 1366
#width       = 1024
height      = 720


[Manual]
# Filename of the GeigerLog manual included with the code.
# If left empty, then the first found file beginning with 'GeigerLog-Manual'
# will be used
# default =  auto
#manual_name = GeigerLog-Manual-v0.9.04.pdf
manual_name = auto


