pip         ==  22.2.2
setuptools  ==  65.0.0
pyqt5       ==  5.15.7
pyqt5-sip   ==  12.11.0
matplotlib  ==  3.5.3
numpy       ==  1.23.2
scipy       ==  1.9.0
pyserial    ==  3.5
sounddevice ==  0.4.4
soundfile   ==  0.10.3.post1

# uncomment any lines to also install these optional modules
# paho-mqtt     ==  1.6.1
# pip-check     ==  2.7
# LabJackPython ==  2.0.4
# RPi.GPIO      ==  0.7.1
# smbus         ==  1.1.post2
# psutil        ==  5.9.1


